# Output hasil kompilasi
/dist
/build
/node_modules

# File log
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# File sistem operasi
.DS_Store

# Hasil pengujian
/coverage
/.nyc_output

# Pengaturan IDE/editor
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Pengaturan khusus VSCode (kecuali file konfigurasi utama)
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# File environment variabel
.env
.env.development.local
.env.test.local
.env.production
.env.local

# Direktori/temp file sementara
.temp
.tmp

# Data runtime
pids
*.pid
*.seed
*.pid.lock

# Laporan diagnostik Node.js
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Direktori upload
src/uploads/
